.task-list-section {
  flex: 0.7;
  .task-list {
    height: 500px;
    width: 900px;
    margin: 100px auto;

    @media (max-width: 1050px) {
      width: 600px;
    }
    @media (max-width: 750px) {
      width: 400px;
    }

    .data-grid {
      font-size: 0.975rem;
      .actions-cell {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;

        .actions-cell-btn {
          &:hover {
            background: $gray-300;
          }
        }
      }
    }
  }
}
