.task-list-section {
  flex: 0.7;
  .task-list {
    height: 500px;
    width: 800px;
    margin: 100px auto;

    .actions-cell {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      .actions-cell-btn {
        border-radius: 50%;
      }
    }
  }
}
