.task-edit-section {
  height: 84vh;

  .task-edit {
    width: 50%;
    margin-left: 25%;
    height: 80%;
    padding-top: 10%;

    .task-edit-form {
      flex: 0.7;

      label {
        font-size: 18px;
      }

      .task-edit-input {
        width: 50%;
        height: 30px;
        font-size: 16px;
      }
    }

    .task-edit-btns {
      flex: 0.2;

      .task-edit-btn-bottom {
        &:hover {
          background: $gray-200;
        }
      }
    }

    .task-edit-btn {
      font-size: 20px;
      &:hover {
        background: $gray-200;
      }
    }
  }
}
