.task-details-section {
  height: 84vh;
  .task-details {
    width: 50%;
    margin-left: 25%;
    height: 80%;

    .task-details-title {
      font-size: 30px;
    }

    .task-details-label {
      font-size: 20px;
    }

    .task-details-back {
      &:hover {
        background: $gray-200;
      }
    }
  }
}
