.task-app {
  height: 84vh;

  .task-app-btns {
    flex: 0.3;

    .btn-worker-div {
      width: 350px;
      .btn-worker {
        width: 115px;
        height: 80px;
        font-size: 15px;
        &:hover {
          background: $gray-400;
        }

        .btn-worker-span {
          font-size: 11px;
        }
      }
    }

    .btn-add {
      width: 100px;
      height: 50px;
      font-size: 16px;
      &:hover {
        background: $gray-300;
      }
    }
  }
}
